@import "https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i";
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block; }

audio,
canvas,
video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden], template {
  display: none; }

html {
  background: #fff;
  color: #000;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

html,
button,
input,
select,
textarea {
  font-family: sans-serif; }

body {
  margin: 0; }

a {
  background: transparent; }
  a:focus {
    outline: thin dotted; }
  a:hover, a:active {
    outline: 0; }

h1 {
  font-size: 2em;
  margin: 0.67em 0; }

h2 {
  font-size: 1.5em;
  margin: 0.83em 0; }

h3 {
  font-size: 1.17em;
  margin: 1em 0; }

h4 {
  font-size: 1em;
  margin: 1.33em 0; }

h5 {
  font-size: 0.83em;
  margin: 1.67em 0; }

h6 {
  font-size: 0.75em;
  margin: 2.33em 0; }

abbr[title] {
  border-bottom: 1px dotted; }

b,
strong {
  font-weight: bold; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: "\201C" "\201D" "\2018" "\2019"; }

q:before, q:after {
  content: '';
  content: none; }

small {
  font-size: 80%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 0; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  border: 0;
  padding: 0;
  white-space: normal; }

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
  vertical-align: baseline; }

button, input {
  line-height: normal; }

button,
select {
  text-transform: none; }

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled],
input[disabled] {
  cursor: default; }

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }
  input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none; }
input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

html,
body {
  font-family: 'Roboto', sans-serif;
  color: #626262;
  font-size: 16px;
  line-height: 1.6; }

p {
  color: #98a4ab; }

.navbar-brand {
  padding: 15px 5px; }

.navbar {
  border-radius: 0;
  margin-bottom: 0;
  color: #FFF;
  position: relative;
  background: #FFF;
  border: none;
  border-color: rgba(255, 255, 255, 0.3);
  border-bottom: 2px solid rgba(255, 255, 255, 0.3); }
  .navbar .navbar-brand {
    height: auto; }
    .navbar .navbar-brand img {
      width: 200px; }
  .navbar .nav li a {
    color: #4b4f52;
    text-transform: uppercase;
    font-weight: bold;
    margin: 18px 10px;
    font-size: 13px; }

header {
  margin: 0;
  background: url("../images/bannerimage.jpg") center center;
  background-attachment: fixed;
  background-size: cover;
  position: relative;
  color: #FFF;
  padding: 60px 0;
  border-bottom: 5px solid #256aaf; }
  header h1 {
    font-size: 30px;
    padding: 10px;
    background: rgba(0, 0, 0, 0.5);
    text-align: center;
    font-weight: 200;
    float: left; }
  header h3 {
    font-size: 21px;
    font-weight: 200; }

.card {
  background: #FFF;
  padding: 20px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26); }

section {
  padding: 80px 0;
  background: #FFF; }
  section.intro h2 {
    font-size: 21px;
    font-weight: 500;
    margin-bottom: 20px; }
  section.intro .stockphoto {
    float: right;
    width: 100%; }
  section.intro .learn-more {
    margin-top: 25px;
    display: block;
    float: left; }
  section.work {
    background: #F6F6F6; }
    section.work h2 {
      font-size: 1.7em;
      font-weight: 400;
      margin-top: 0;
      margin-bottom: 30px;
      padding-left: 1%;
      text-align: left; }
    section.work ul {
      display: flex;
      flex-flow: row wrap;
      padding: 0;
      margin: 0; }
    section.work li {
      margin: 0 1%;
      padding: 20px;
      width: 18%;
      list-style-type: none;
      background: #FFF;
      text-align: center;
      box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
      display: flex;
      justify-content: center;
      align-items: center; }

footer {
  width: 100%;
  color: #FFF;
  background: #2C3E50;
  padding: 25px; }
  footer p {
    margin: 15px 0 0;
    font-size: 12px;
    text-align: center; }
  footer ul {
    padding: 0;
    margin: 0;
    text-align: center; }
    footer ul li {
      list-style-type: none;
      padding: 0;
      margin: 0 10px;
      font-size: 24px;
      display: inline-block; }
      footer ul li a {
        color: #FFF; }

.btn {
  text-transform: uppercase;
  padding: 10px 20px;
  background: #006bb1;
  font-size: 12px;
  font-weight: 500;
  color: #FFF;
  transition: all 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0.2s;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26); }
  .btn:hover {
    text-decoration: none;
    box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2);
    transition-delay: 0s;
    color: #FFF; }
  .btn i {
    margin-left: 5px; }

.home .navbar {
  background: #003559; }
  .home .navbar .nav li a {
    color: #FFF;
    text-transform: uppercase;
    font-weight: bold;
    margin: 18px 10px;
    font-size: 13px; }
.home header {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/skyline.png") #006bb1 center bottom repeat-x;
  padding: 240px 0 140px; }
  .home header:after {
    background: linear-gradient(to bottom, transparent 0%, rgba(0, 0, 0, 0.5) 100%);
    bottom: 8px;
    content: '';
    display: block;
    height: 0;
    left: 0;
    padding-bottom: 13%;
    position: absolute;
    right: 0;
    z-index: 20; }
  .home header h1 {
    border-bottom: 1px solid #FFF;
    width: 150px;
    padding: 0 0 20px;
    margin-bottom: 10px;
    background: none;
    text-align: left;
    float: none;
    font-size: 30px; }

.services .service-header {
  background: url("../images/patternBg.jpg") no-repeat;
  background-size: cover;
  padding: 40px 0; }
.services .service-item {
  text-align: center;
  margin-bottom: 30px; }
  .services .service-item i {
    background: #256aaf;
    padding: 10px;
    font-size: 20px;
    border-radius: 50%;
    color: #FFF; }
  .services .service-item h3 {
    color: #000;
    font-size: 22px; }
  .services .service-item p {
    color: #98a4ab; }
.services .contact {
  padding: 40px 0;
  position: relative;
  z-index: 10;
  background-color: #e9e9e9;
  border-top: 1px solid #ddd;
  text-align: center;
  vertical-align: bottom;
  font-size: 20px;
  color: #4b4f52;
  font-weight: 700; }
  .services .contact .btn {
    margin-left: 20px; }

.clients header {
  background-image: url(../images/clientBannerImage.jpg); }
.clients .client-item {
  text-align: center;
  margin-bottom: 60px; }
  .clients .client-item a {
    display: block; }
  .clients .client-item .description {
    background: #252525;
    display: inline-block;
    position: absolute;
    bottom: -14px;
    left: 50%;
    transform: translateX(-50%);
    padding: 5px 0;
    color: #FFF;
    text-transform: uppercase;
    font-weight: bold;
    font-size: .9em;
    z-index: 10;
    width: 66%; }
  .clients .client-item img {
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.24), 0px 2px 16px rgba(0, 0, 0, 0.1);
    margin: 0 auto;
    width: 100%;
    padding: 20px 80px;
    display: inline-block;
    position: relative; }

.contact-us header {
  padding: 0;
  background: none; }
.contact-us .address-map {
  width: 100%;
  height: 300px;
  display: block; }
.contact-us .contact-map {
  padding: 0; }
.contact-us .contact-form .card {
  border-top: 5px solid #256aaf;
  padding: 30px 25px;
  background: #fafafa;
  margin-top: -150px; }
.contact-us .address-container {
  font-size: 16px; }
  .contact-us .address-container h1 {
    padding-bottom: 15px;
    border-bottom: 2px solid #256aaf; }
  .contact-us .address-container > div {
    float: left;
    width: 50%; }
  .contact-us .address-container .contact-info {
    margin-bottom: 25px; }
  .contact-us .address-container .contact-details {
    clear: left; }
  .contact-us .address-container .contact-image {
    float: right; }

@media (max-width: 992px) {
  .contact-us .contact-form .card {
    margin-top: 50px; } }

/*# sourceMappingURL=styles.css.map */
