.services {
    .service-header {
        background: url("../images/patternBg.jpg") no-repeat;
        background-size: cover;
    }
    .service-item {
        margin-bottom: 30px;
        i {
            float: left;
            background: #256aaf;
            padding: 10px;
            font-size: 20px;
            border-radius: 50%;
            color: #FFF;
            margin-right: 10px;
        }
        h3 {
            margin-top: 10px;
            color: #000;
            font-size: 22px;
        }
        p {
            color: #98a4ab;
            font-size: 16px;
        }
    }
}
